@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
html,
body,
.description-strings {
  scroll-behavior: smooth;
}

p {
  margin: 0;
  padding: 0;
}

/* HEADER */
.navbar {
  width: 100%;
  display: flex;
  background-color: #57cc99;
  justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 5px black;
}
.navbar .contenedor-logo {
  width: 30%;
}
.navbar .contenedor-logo #logo {
  width: 5rem;
  border-radius: 50%;
  transition: all 500ms;
}
.navbar .contenedor-logo #logo:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar .contenedor-links {
  width: 60%;
  justify-content: flex-end;
  display: flex;
}
.navbar .contenedor-links .link-nav {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  text-decoration: none;
  color: #22577a;
  transition: all 500ms;
}
.navbar .contenedor-links .link-nav:hover {
  color: #38a3a5;
}

.portada {
  width: 100%;
  height: 50rem;
  box-shadow: 0px 0px 5px black;
}

.barra-separadora {
  margin-top: 7rem;
  margin-bottom: 5rem;
  box-shadow: 0px 0px 3px black;
}

/* MAIN */
.contenedor-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1000px;
}
.contenedor-carousel .carousel {
  width: 50rem;
}
.contenedor-carousel .carousel .image-carousel {
  width: 100%;
  height: 30rem;
}

/* CARDS */
.container-cards {
  margin: 5rem auto auto auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-cards .card-encordado {
  width: 20rem;
  text-align: center;
  margin: 5rem 4rem;
  border-radius: 5px;
}
.container-cards .card-encordado .card-image {
  width: 100%;
  height: 220px;
  background-color: #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  border: 1px solid #ccc;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}
.container-cards .card-encordado .card-image .imagen-encordado {
  width: 100%;
  height: 50%;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}
.container-cards .card-encordado .card-description {
  width: 100%;
  height: 220px;
  padding: 10px;
  font-size: 14px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}
.container-cards .card-encordado .card-description .card-title {
  font-family: "Imprima", sans-serif;
  font-weight: 500;
  margin: 0.3rem auto auto;
  padding-bottom: 0.8rem;
  width: 100%;
}
.container-cards .card-encordado .card-description .card-paragraph {
  font-family: "Inter", sans-serif;
  border-top: 0.5px solid #ccc;
  padding-top: 0.5rem;
  margin: auto;
  width: 100%;
}
.container-cards .card-encordado .card-description .card-paragraph .lista-cuerdas {
  list-style: none;
}
.container-cards .card-encordado .card-description .card-paragraph .lista-cuerdas p {
  text-align: start;
  margin-bottom: 0.3rem;
}
.container-cards .card-encordado .card-description .card-paragraph .lista-cuerdas p:last-child {
  margin-bottom: 0.8rem;
}
.container-cards .card-encordado .card-description .btn-saber-mas {
  border-radius: 10px;
  background: #22577a;
  transition: all 600ms;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0.3rem 0.8rem;
}
.container-cards .card-encordado .card-description .btn-saber-mas .link-saber-mas {
  text-decoration: none;
  color: #fff;
}
.container-cards .card-encordado .card-description .btn-saber-mas:hover {
  background: #38a3a5;
}
.container-cards .card-encordado:hover .card-image {
  margin-top: -110px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px -5px 25px -20px rgb(20, 20, 20);
}
.container-cards .card-encordado:hover .card-description {
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 25px -17px rgb(20, 20, 20);
}

/* MAS INFO */
.active {
  background-color: #00e8e8;
}

.description-strings {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}
.description-strings .string-description-title {
  font-family: "Imprima", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}
.description-strings .string-description {
  margin-bottom: 3rem;
  font-family: "Inter", sans-serif;
}
.description-strings .string-description:last-child {
  margin-bottom: 0px;
}

/* QUERIES */
@media screen and (max-width: 640px) {
  .navbar {
    flex-direction: column;
  }
  .contenedor-logo {
    width: 100%;
    text-align: center;
  }
  .contenedor-links {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .link-nav {
    margin: 0.3rem 0 0;
  }
}
@media screen and (max-width: 830px) {
  .contenedor-carousel .carousel {
    width: 90%;
  }
}/*# sourceMappingURL=styles.css.map */